div{
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
li{
  list-style: none;
}
i,em{
  font-style: normal;
}
